<footer>
    <div class="f-info">
        <div class="cont">
            <div class="f-info-brand"> &copy;  Wonderlust Private Limited</div>
            <div class="f-info-links">
                <a href="/" style="margin: 20px;">Privacy</a>
                <a href="/" style="margin: 20px;">Terms</a>
                
            </div>
            <div class="f-info-socials" >
                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook" style="margin: 10px;"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram" style="margin: 10px;"></i></a>
                <a href="https://www.twitter.com/"><i class="fa-brands fa-square-x-twitter" style="margin: 10px;"></i></a>
                <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin" style="margin: 10px;"></i></a>
            </div>
        </div>
    </div>
</footer>