<style>
  body {
    background-color: #e2e4ed;
    font-family: Arial, sans-serif;
  }

  .navbar {
    background-color: #f8f9fa;
  }

  .navbar-brand, .nav-link {
    color: #333;
  }

  .navbar-brand:hover, .nav-link:hover {
    color: #007bff;
  }

  .nav-link {
    margin-right: 15px;
  }
  .nav-link.active {
    font-weight: bold;
  }

  .form-control {
    width: 300px;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: #007bff;
  }
  .btn-outline-success {
    color: #007bff;
    border-color: #007bff;
  }
  .btn-outline-success:hover {
    background-color: #007bff;
    color: white;
  }
  .navbar-toggler {
    border-color: #007bff;
  }
  .search {
    border-radius: .5rem;
  }


</style>
<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav nav" >
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search   Destinations" aria-label="Search"/>
          <button class="btn btn-outline-success search" type="submit">Search</button>
        </form>
      </div>
      <div class="navbar-nav nav ms-auto">
        <a class="nav-link ms-auto" href="/listings/new">Add new listing</a>
        <% if(!currentUser) {%>
          <a class="nav-link"  href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } else if(currentUser){ %>
          <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>